<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <h3 style="color:white;"> UP7 Seminovos</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngFor="let feed of formCarro" tappable margin-bottom>
    <ion-card color="dark">
      <img style="width:100%; height: 200px;" src="{{feed.caminhoImagem}}" (click)="detalhes(feed.id)" />
      <ion-card-content>
        <ion-card-subtitle style="color: white;">
          {{ feed.marca }}
        </ion-card-subtitle>
        <p style="color: white;">
          {{feed.preco}}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-tabs color="dark">
  <ion-tab label="Antigos" icon="md-car" href="/tabs/(one:one)">
    <ion-router-outlet name="antigos"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Eventos" icon="md-calendar" href="/tabs/(two:two)">
    <ion-router-outlet name="eventos"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Seminovos" icon="md-car" href="/tabs/(three:three)">
    <ion-router-outlet name="seminovos"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Entre Amigos" icon="md-document" href="/tabs/(three:three)">
    <ion-router-outlet name="entreamigos"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
<!-- <ion-footer>
  <ion-toolbar color="dark">
    <div class="footer">
      <div>
        <ion-icon ios="ios-car" md="md-car" (click)="seminovos()"></ion-icon>
        <p>Antigos</p>
      </div>
      <div>
        <ion-icon ios="ios-calendar" md="md-calendar" (click)="eventos()"></ion-icon>
        <p>Eventos</p>
      </div>
      <div>
        <ion-icon  ios="ios-car" md="md-car" style="background:silver"></ion-icon>
        <p>SemiNovos</p>
      </div>
      <div>
        <ion-icon ios="ios-document" md="md-document" (click)="seminovos()"></ion-icon>
        <p>Rifas</p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>  -->